<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.horiuchi.pokecom2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyPreferenceActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".FileLoad"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".FileSave"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="landscape"/>

    </application>


    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


</manifest>